<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History Learn</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'aplicaciones/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'aplicaciones/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'aplicaciones/css/styles.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div></div>
    <div class="row center-xs titulo">
        <h1 class="logo">History Learn</h1>
    </div>

    <div class="row center-xs login">
        <div class="middle-xs">
            <form action="" method="POST" id="login">
                {% csrf_token %}
                <div class="form-group ">
                    <label for="email">Dirección de Email</label>
                    <input type="email" name="username" required class="form-control"  aria-describedby="emailHelp" placeholder="Correo@Example.com">
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="password" required class="form-control" placeholder="Ingrese su Contraseña">
                </div>
                <div class="form-group form-check">
                    <a id="recuperacion" href="{% url 'Recuperacion' %}">Recuperar contraseña</a>
                </div>
                <button type="submit" class="btn btn-success botones" id="boton">Iniciar Sesión</button>
                
            </form>
            <a href="{% url 'Registro' %}">
                <button type="submit" class="btn btn-warning registrarse botones">Registrarse</button>
            </a>
        </div>

    </div>

    <!--JS SCRIPT-->
    <script src="{% static 'aplicaciones/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'aplicaciones/js/jquery.validate.js' %}"></script>
    <script src="{% static 'aplicaciones/js/bootstrap.js' %}"></script>
    <script src="{% static 'aplicaciones/js/app.js' %}"></script>
</body>

</html>