<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../css/flexboxgrid.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="row center-xs">
        <h1 class="titulo">History Learn</h1>
    </div>
    <div class="row center-xs titRecup">
        <h1>Recuperar contraseña</h1>
    </div>

    <div class="row center-xs">
            <form action="../index.html" method="GET" id="recuperacion">
                <div class="form-group">
                    <label for="mailRecup">Email Registrado</label>
                    <input type="email" required class="form-control" name="mailRecu" placeholder="Ingrese su Email">
                </div>
                <button type="submit" id="btnRecuperar" class="btn btn-primary">Recuperar</button>
            </form>
        </div>


    <!--JS SCRIPT-->
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>